.image{
    width: 300px;
    height: 200px;
}
.main-button{
    background-color: coral;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}
.product{
    display: flex;
    border-bottom: 1px solid pink;
}
.image{
    margin-right: 40px;
    border-radius: 5px;
    margin-top: 10px;
}