img{
    height: 150px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.header{
    text-align: center;
}
nav{
    background-color: aqua;
    line-height: 40px;
}
a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    padding: 10px;
}
.main-button{
    margin-bottom: 20px;
}